/* General styles */

body {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    border-radius: 5px;
    background-color: rgb(255, 255, 143);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    padding: 15px;
    color: black;
    font-weight: bold;
    background-color: rgb(255, 255, 143);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li a:hover {
    color: #fff;
    background-color: green;
  }
  

nav li {
    margin: 0 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav li:last-child {
    margin-right: 0;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons a {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: green;
}




section {
    padding: 40px 20px;
}

/* Home page */

.hero {
    height: 100vh;
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* About page */

.about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about footer {
    align-items: baseline;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Contact page */

.contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.contact input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.contact input[type="submit"]:hover {
    background-color: #444;
}